/* .grid-container {
    max-width: 800px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 170px;
    gap: 10px;
}

.item {
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}

.item4 {
    grid-row: 2/3;
    background-color: aqua;
}

.item5 {
    grid-row: 3/4;
    background-color: blue;
}

.item6 {
    grid-row: 4/5;
    background-color: brown;
}
.item7{
    grid-column: 1/3;
    grid-row: 2/5;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 7px;
}

.box{
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}

.box7-6{
    grid-column: 2/4;
    grid-row: 2/4;
}
.box7-7{
    grid-column: 4/5;
}
.box7-14{
    grid-column: 1/3;
    grid-row: 5/7;
} */


.flex-container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}

/* .box1{
    order: 4;
}
.box2{
    order: 5;
}
.box3{
    order: 1;
}
.box4{
    order: 2;
}
.box5{
    order: 3;
} */

/* .box3{
    flex-grow: 1;
} */

.box3 {
    /* flex-shrink: 2; */
    /* flex-basis: 50px; */

    /* flex: 0 0 50px; */
}

.grid-area-container {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas: 
        "header header header"
        "sidebar content1 content2"
        "sidebar content3 content3"
        "footer footer .";

}

.grid-box1 {
    background-color: aqua;
    grid-area: header;
}

.grid-box2 {
    grid-area: sidebar;
    background-color: red;
}

.grid-box3 {
    grid-area: content1;
    background-color: gray;
}

.grid-box4 {
    grid-area: content2;
    background-color: green;
}

.grid-box5 {
    grid-area: content3;
    background-color: brown;
}

.grid-box6 {
    grid-area: footer;
    background-color: yellow;
}