* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-container {
    width: 300px;
    padding: 16px;
    background: linear-gradient(
        to bottom,
        #00bfff49 0%,
        rgba(0, 191, 255, 0.151) 20%,
        white 30%,
        white 100%
    );
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.logo {
    text-align: center;
    padding: 10px;
}

.logo span {
    padding: 8px 9px;
    box-shadow: 1px 2px 4px black;
    border-radius: 10px;
}

.header-content {
    padding: 5px;
}

.header-content h1 {
    font-size: 20px;
    text-align: center;
    padding: 4px;
}

.header-content p {
    text-align: center;
    padding: 2px;
    color: gray;
}

form {
    padding: 10px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.429);
}

form input::placeholder {
    color: gray;
    font-weight: 400px;
}

form p {
    text-align: end;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.489);
}

form p:hover {
    cursor: pointer;
    text-decoration: underline;
}

form button {
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 200px;
}

form button:hover {
    background-color: gray;
    cursor: pointer;
}

.normal-text {
    font-size: 13px;
    text-align: center;
    color: gray;
}

.normal-text::after,
.normal-text::before {
    content: "--------------------";
}

.links {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.links div {
    padding: 5px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.links div:hover {
    cursor: pointer;
}

.links div .fa-facebook {
    color: rgba(0, 0, 255, 0.89);
}