.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.box:hover {
    background-color: aqua;
}

.box:active {
    background-color: yellow;
}

input:focus {
    background-color: green;
}

ul li:first-child {
    background-color: red;
}

ul li:last-child {
    background-color: pink;
}

ul li:nth-child(2n+1) {
    background-color: blue;
}

a:visited {
    background-color: brown;
}


/* attribute selectors */
p[class] {
    background-color: blueviolet;
}

p[class="paragraph1"] {
    background-color: chocolate;
}

.container {
    width: 200px;
    /* height: 200px; */
    /* border-width: 2px;
    border-style: dotted;
    border-color: blue; */
    border: 2px dotted blue;

    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 10px; */

    /* padding: 20px 30px 40px 10px; */
    padding: 20px 30px;

    margin: 20px 40px 50px 60px;
    /* margin: auto; */
}

/* .container p::first-line{
    color: red;
}
.container p::first-letter{
    color: blue;
}

.container p::after{
    content: "Qlith";
}
.container p::before{
    content: "Qlith";
}

.container p::selection{
    background-color: green;
} */


b {
    /* background-color: rgb(255, 100, 201); */
    /* background-color: rgba(255, 0, 0, 0.25); */
    /* background-color: #2ce60bf1; */

    /* font-size: 2em; */
    font-size: 2rem;
}