* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

p {
    /* font-size: 2rem;  40 */

    background-color: aqua;

    /* width: 20%; */
    /* width: 100vw;
    height: 100vh; */

    display: inline;
    width: 300px;
}


span {
    background-color: red;
    display: block;
    width: 300px;
}

h1 {
    background-color: blue;
    display: inline-block;
    /* display: none; */
    width: 300px;
}

/* display : flex */
.container {
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    display: flex;
    /* column-gap: 5px;
    row-gap: 4px; */
    /* gap: 5px; */
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
    /* align-items: end; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: space-between;

}

.item {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
}