*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    /* position: relative;
    top: 50px;
    left: 40px;
    right: 30px;
    bottom: 40px; */

    position: absolute;
    top: 40px;
    left: 100px;
}
.para1{
    background-color: gold;
    /* position: fixed;
    top: 0;
    bottom: 0; */

    /* position: sticky;
    top: 0; */
}

.para2{
    background-color: red;
}
.para3{
    background-color: aqua;
}
.para4{
    background-color: blue;
    /* display: none; */
    /* visibility: hidden; */
    /* visibility: visible; */

    /* opacity: 0.6; */
}

nav{
    width: 100vw;
    margin-top: 40px;
}
.nav-container{
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
} 
.nav-container .logo img{
    border-radius: 50%;
}
.nav-container ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    padding: 10px;
}
.nav-container ul li{
    color: white;
    font-weight: bold;
}

.nav-container ul li:hover{
    color: blue;
    cursor: pointer;
}

.nav-btn{
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.nav-btn button{
    padding: 5px 7px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: gray;
}
.nav-btn button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
